<!DOCTYPE html>
<!--
    Created by  修身
    CreateTime: 2019/05/24
    Change above in File | Settings | File and Code Templates | Files.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>权限管理系统</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/jquery-easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/jquery-easyui/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/jquery-easyui/themes/color.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}">

    <script type="text/javascript" th:src="@{/static/jquery-easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/jquery-easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/arrayToTree.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/extJs.js}"></script>
    <script type="text/javascript" th:src="@{/static/WdatePicker/WdatePicker.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
    <script type="text/javascript" th:src="@{/static/js/main.js}"></script>

    <script type="text/javascript">
        var basePath = '[[${#httpServletRequest.getContextPath()}]]';
    </script>
</head>
<body>

</body>
</html>