<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njust.shiro.mapper.SysResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.njust.shiro.entity.SysResource">
        <id column="id" property="id" />
        <result column="permission" property="permission" />
        <result column="resource_name" property="resourceName" />
        <result column="url" property="url" />
        <result column="open_mode" property="openMode" />
        <result column="description" property="description" />
        <result column="icon" property="icon" />
        <result column="pid" property="pid" />
        <result column="opened" property="opened" />
        <result column="resource_type" property="resourceType" />
        <result column="order_num" property="orderNum" />
        <result column="remark" property="remark" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, permission, resource_name, url, open_mode, description, icon, pid, opened, resource_type, order_num, remark, update_time, create_time
    </sql>

</mapper>
