<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common::html" title="部门添加">
</head>
<body>

<script type="text/javascript" th:inline="javascript">

    $(function () {
        $('#deptAddPid').combotree({
            url: basePath + '/dept/tree',
            parentField: 'pid',
            panelHeight: 'auto'
        });

        $('#deptAddForm').form({
            url: basePath + '/dept/add',
            onSubmit: function () {
                progressLoad();
                var isValid = $(this).form('validate');
                if (!isValid) {
                    progressClose();
                }
                return isValid;
            },
            success: function (result) {
                progressClose();
                result = $.parseJSON(result);
                if (result.success) {
                    parent.$.modalDialog.openner_treeGrid.treegrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_treeGrid这个对象，是因为dept.jsp页面预定义好了
                    parent.$.modalDialog.handler.dialog('close');
                } else {
                    parent.$.messager.alert('提示', eval(result.msg), 'warning');
                }
            }
        });

    });
</script>

<div style="padding: 3px;">
    <form id="deptAddForm" method="post">
        <table class="grid">
            <tr>
                <td>编号</td>
                <td><input name="code" type="text" placeholder="请输入部门编号" class="easyui-validatebox" data-options="required:true"></td>
                <td>部门名称</td>
                <td><input name="deptName" type="text" placeholder="请输入部门名称" class="easyui-validatebox" data-options="required:true"></td>
            </tr>
            <!--<tr>
                <td>排序</td>
                <td><input title="" name="orderNum" class="easyui-numberspinner" style="width: 140px; height: 29px;" required="required"
                           data-options="editable:true" value="0"></td>
                <td>菜单图标</td>
                <td><input name="icon" onclick='top.window.openIconDialog(this)'/></td>
            </tr>-->
            <tr>
                <td>地址</td>
                <td colspan="3"><input title="地址" name="address" style="width: 300px;"/></td>
            </tr>
            <tr>
                <td>上级部门</td>
                <td colspan="3"><select title="" id="deptAddPid" name="pid" style="width:200px;height: 29px;"></select>
                    <a class="easyui-linkbutton" href="javascript:void(0)" onclick="$('#pid').combotree('clear');">清空</a></td>
            </tr>
            <tr>
                <td>备注</td>
                <td colspan="3"><textarea name="remark"></textarea></td>
            </tr>
        </table>
    </form>
</div>

</body>